* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #64EAD1;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Calibri;
    font-weight: 400;
    line-height: 1.3em;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: justify;
    margin-bottom: 100px;
}

p {
    margin: 15px;

}

h1 {
    background-color: #CC0000;
    text-shadow: 2px 2px black;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3em;
}

h2 {
    background-color: #5DDDC5;
    box-shadow: 0 0 1px black;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3em;
}

h3 {
    background-color: black;
    color: white;
    font-size: 1.2em;
    line-height: 1em;
    margin-top: 25px;
    margin-bottom: 12px;
    padding: 10px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.3em;
}

h4 {
    margin-left: 20px;
}

img {
    width: 300px;
    border-radius: 20px;
    border: 1px solid white;
}

.imgAlign {
    text-align: center;
}

legend {
    text-align: center;
    margin-bottom: 40px;
}

h4::selection {
    background: rgb(50, 200, 250);

}

strong::selection,
a::selection,
p::selection,
li::selection {
    background: red;
    color: white;
}

h1::selection {
    background: black;
    color: white;
}

h2::selection {
    background: black;
    color: white;
}

h3::selection {
    background: black;
    color: white;
}

ul {
    margin: 10px;
    margin-left: 30px;
}

a {
    color: #CC0000;
    text-decoration: none;
}

a:hover {
    color: #F6942A;
    transition: .5s;
}

@media (max-width: 600px) {
    body {
        font-size: 13px;
        line-height: 1.2em;
        width: 100vw;
    }

    img {
        max-width: 200px;
    }

    h3 {
        text-align: center;
        line-height: 1.5;
    }

    h4 {
        margin-left: 15px;
    }

    ul {
        margin: 10px;
        margin-left: 15px;
    }
    
    .stickyResp {
        position: sticky;
        top: 0;
    }
}