* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #64EAD1;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Calibri;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3em;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    text-align: justify;
    width: 1000px;
}

h1 {
    background-color: #CC0000;
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}

h2 {
    background-color: #5DDDC5;
    box-shadow: 0 0 1px black;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}

p {
    margin: 20px;
}

li {
    margin: px;
    margin-left: 40px;
}

a {
    color: #CC0000;
    text-decoration: none;
}

a:hover {
    color: #F6942A;
    transition: .5s;
}

@media (max-width: 1005px) {
    body {
        font-size: 16px;
        line-height: 1.2em;
        padding: 10px;
        width: 95vw;
    }

    h1 {
        margin-bottom: 30px;
        margin-top: 20px;
        padding: 30px;
    }
    
    h2 {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;

    }
    
    h3 {
        font-size: 1.2em;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 14px;
        line-height: 1.2em;
        padding: 10px;
        width: 95vw;
    }

    h1 {
        font-size: 1.3em;
        margin-bottom: 20px;
        margin-top: 15px;
        padding: 20px;
    }
    
    h2 {
        font-size: 1.3em;
        margin-top: 35px;
        margin-bottom: 35px;
        padding: 20px;
    }
    
    h3 {
        font-size: 1.3em;
        margin-top: 35px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
        line-height: 1.2em;
        padding: 10px;
        width: 100vw;
    }

    h1 {
        font-size: 1em;
        margin-bottom: 15px;
        margin-top: 10px;
        padding: 15px;
    }

    h2 {
        font-size: 1em;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 15px;
    }

    h3 {
        font-size: 1em;
        margin-top: 25px;
        margin-bottom: 15px;
        padding: 10px;
    }

    li {
        margin: 5px;
        margin-left: 25px;
    }
}