* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(110, 159, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    text-align: justify;
    width: 1000px;
}

p {
    margin: 15px;
}

h1 {
    color: white;
    margin-bottom: 30px;
    margin-top: 20px;
    text-shadow: 3px 3px black;
    text-transform: uppercase;
}

h2 {
    color: white;
    margin-top: 10px;
    text-shadow: 3px 3px black;
    text-transform: uppercase;
}

img {
    width: 300px;
    border-radius: 20px;
    border: 1px solid white;
}

li {
    color: white;
    text-transform: uppercase;
    margin: 20px;
    margin-left: 30px;
}

.subLi li {
    color: white;
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0px;
    margin-left: 60px;
    text-transform: none;
}

.subLi p {
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: white;
}